.doors-main-div {
  position: relative;
  height: 80%;
  width: 40%;
  margin-top: 3%;
  background-image: url(../assets/matrixhallway.jpg);
  background-size: 100% 100%;
  display: flex;
  justify-content: space-between;
  border: 2px solid black;
}

.door-left,
.door-right {
  height: 100%;
  width: 100%;
  background-color: gray;
  border: 5px solid black;
}

.open {
  animation: open;
  animation-duration: 4.2s;
}

.close {
  animation: close;
  animation-duration: 4s;
}

@keyframes open {
  from {
    width: 50%;
  }
  to {
    width: 2%;
  }
}

@keyframes close {
  from {
    width: 2%;
  }
  to {
    width: 50%;
  }
}

