.elevator-frame {
    border: 5px solid black;
    height: 1000px;
    width: 1000px;
    display: flex;
    justify-content: space-between;
}

.door-left, .door-right {
    height: 100%;
    width: 50%;
    background-color: gray;
    border: 5px solid black;
}

.open {
    animation: open;
    animation-duration: 4.2s;
}

.close {
    animation: close;
    animation-duration: 4.0s;
}


@keyframes open {
  from {
    width: 50%;
  }
  to {
    width: 2%;
  }
}

@keyframes close {
  from {
    width: 2%;
  }
  to {
    width:  50%;
  }
}
