.floor-marker-outer {
    height: 60px;
    width: 200px;
    border: 5px solid black;
    display: flex;
    justify-content: center;
    background-color: gray;
}

.floor-marker-box {
    height: 100%;
    width: 40%;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.floor-marker-box > h1 {
    color: red;
}