.floor-marker-outer {
    height: 5%;
    width: 20%;
    border: 5px solid black;
    display: flex;
    justify-content: center;
    background-color: gray;
    
}

.floor-marker-box {
    height: 100%;
    width: 60%;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.floor-marker-box > h1 {
    color: red;
    font-size: 25px;
}

#message {
    font-size: 18px;
}