.main-view {
    display: flex;
    justify-content: center;
}

.main-panel-box {
    width: 300px;
    height: 600px;
    border: 5px solid black;
    background-color: gray;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    margin-left: 100px;
    margin-top: 100px;
}

.floor-button {
    width: 100px;
    height: 100px;
    border: 5px solid rgb(112, 111, 111);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
}

.floor-button > h1 {
    font-size: 50px;
    color: gold;
}

.floor-button:hover {
    background-color: rgb(85, 9, 9);
    cursor: pointer;
}

